<!DOCTYPE html>
<html>
<head>
  <title>Stockplum</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "lineman/app" %>
  <%= javascript_include_tag "lineman/app" %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
</head>
<body ng-app="app">

<%= yield %>

</body>
</html>
